.page_404{
	padding: 60px 0;
	min-height: 500px;
	text-align: center; 
	.error-404 {
		margin: 0; 
		font-size: 100px; 
		color: var(--primary);
		font-weight: bold;
		letter-spacing: 0.05em;
	}   
	.message{
		margin-top: 0;
		padding-top: 0;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 30px;
		color: var(--heading); 
	}
	.btn-back-home {
		a{
			display: inline-block;
			padding: 20px 30px;
			background-color: var(--primary);
			border-radius: 10px;
			font-weight: 500;
			line-height: 1;
			text-transform: uppercase;
			color: #fff; 
			&:hover, &:focus {
				background-color: #000;
			}
		}
	}
}